body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: "Poppins", sans-serif;
}

.card {
    width: 380px;
    padding: 40px 30px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    color: white;
    animation: slideIn 0.8s ease;
}

input {
    width: 100%;
    box-sizing: border-box;  /* fix alignment */
    padding: 14px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    backdrop-filter: blur(5px);
    outline: none;
    transition: 0.3s;
}


h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 28px;
}

.message {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.success {
    background: #d1fae5;
    color: #065f46;
}

.error {
    background: #fee2e2;
    color: #991b1b;
}

.input-group {
    margin-bottom: 18px;
}


input::placeholder {
    color: #e5e5e5;
}

input:focus {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

button {
    width: 100%;
    padding: 14px;
    line-height: normal;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background: white;
    color: #444;
    font-weight: 600;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background: #e5e5e5;
    transform: translateY(-2px);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
